/* nhurt */

body{
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	background-color: white;
	background-image: url('../images/subtle_zebra_3d.png');
	background-repeat: repeat-x repeat-y;
}

#wrapper{
	background-color: white;
	color: #111;
	width: 800px;
	margin: 0 auto;
	margin-bottom: 20px;
	height: 600px;
	padding: 20px;
		
	box-shadow: 7px 7px 8px #ccc;
  -webkit-box-shadow: 7px 7px 8px #ccc;
  -moz-box-shadow: 7px 7px 8px #ccc;
}

#header {
	display: inline-block;
	height: 100px;
	width: 800px;
}

#header h1{
  /*
	text-indent: -1000em;*/
	margin-top: 0;
	font-size: 72px;
	font-weight: 300;
}

h1 a{
  text-decoration: none;
  color: inherit;
}

h2 {
  font-weight: normal;
}

#menu 
{
	background-color: #E6FFE9;
	text-align: center;
	height: 40px;
	margin: 0 0 10px 0;
	padding: 0;
	box-shadow: 2px 2px 2px #95B897;
	-webkit-box-shadow: 2px 2px 2px #95B897;
	-moz-box-shadow: 2px 2px 2px #95B897;
}

#menu ul {
	margin: 0;
	padding: 0;
	list-style: none;
	line-height: normal;
}

#menu li {
	float: left;
}

#menu a {
	display: block;
	color: black;
	width: 135px;
	height: 40px;
	line-height: 40px;
	text-decoration: none;
	text-align: center;
	vertical-align: middle;
	font-weight: 400;
	font-size: 17px;
}

#menu a.current_page{
	background-color: #C0EDC3;
}

#menu a:hover{
  background-color: #B7CCB7;
	text-decoration: none;
}

img.about_me {
  position: relative;
	float: left;
	width: 300px;
	height: 400px;
	margin: 0 20px 10px 0;
	overflow: hidden;
	padding: 10px;
  border: 1px solid #ddd;
  box-shadow: 0 1px 5px rgba(0,0,0,.15);
  
	-webkit-transform: rotate(-1.2deg) translate(0, -2px);
	-moz-transform: rotate(-1.2deg) translate(0, -2px);
	-o-transform: rotate(-1.2deg) translate(0, -2px);
}

#content a{
	text-decoration: none;
	color: #2E7034;
}

#content a:hover{
	text-decoration: underline;
}

#content ul{
	list-style: none;
}

#content li{
	margin-top: 30px;
}

#content li span {
	display: block;
	font-style: italic;
	font-size: .8em;
}

#content a.email {
  font-weight: bold;
  color: inherit;
}

.about {
  text-align:justify;
}

canvas.game{
  margin-top: 25px;
  border: 1px solid #eee;
  box-shadow: 3px 3px 2px #ddd;
  -webkit-box-shadow: 3px 3px 2px #ddd;
  -moz-box-shadow: 3px 3px 2px #ddd;
}