/* nhurt */

body{
	font-family: sans-serif;
	font-weight: 400;
	background-color: #F4F4F4;
	/*background-image: url('../images/subtle_zebra_3d.png');*/
	background-repeat: repeat-x repeat-y;
}

#wrapper{
	background-color: white;
	color: #111;
	width: 800px;
	margin: 0 auto;
	margin-bottom: 20px;
	min-height: 600px;
	padding: 20px;
	
	border: 1px solid #eee;
		
	box-shadow: 7px 7px 8px #ccc;
  -webkit-box-shadow: 7px 7px 8px #ccc;
  -moz-box-shadow: 7px 7px 8px #ccc;
}

#header {
	display: inline-block;
	height: 100px;
	width: 800px;
	font-family: 'Monoton', sans-serif;
	color: #c00000;
	text-align: center;
	margin-bottom: 10px;
}

#header h1{
  /*
	text-indent: -1000em;*/
	margin-top: 0;
	font-size: 65px;
	font-weight: 300;
}

h1 a{
  text-decoration: none;
  color: inherit;
}

#menu {
  text-align: center;
}

#menu ul {
	margin: 0 auto;
	text-align: center;
	padding: 0;
	list-style: none;
	line-height: normal;
	height: 90px;
}

#menu li {
	display: inline-block;
}

#menu a{
  text-decoration: none;
  color: #aaa;
}

#menu .menu_icon {
  margin-left: 25px;
  margin-right: 25px;
  height: 75px;
  width: 75px;
  cursor: pointer;
  /*display: none;*/
}

#menu li span {
  display: block;
  margin-top: 5px;
}

#viewbox {
  width: 576px;
  height: 384px;
  border: 7px solid #111;
  margin: 40px auto;
}