/* nhurt */

body{
	font-family: sans-serif;
	margin: 0;
	/*background-image: url('../images/subtle_zebra_3d.png');*/
	background-repeat: repeat-x repeat-y;
}

/*
#wrapper{
	background-color: white;
	color: #111;
	width: 800px;
	margin: 0 auto;
	margin-bottom: 20px;
	min-height: 600px;
	padding: 20px;
	
	/*
	border: 1px solid #eee;
		
	box-shadow: 7px 7px 8px #ccc;
  -webkit-box-shadow: 7px 7px 8px #ccc;
  -moz-box-shadow: 7px 7px 8px #ccc;
  */
/*}*/


#content {
  width: 700px;
  margin: 50px auto;
}

#header {
	height: 100px;
	width: 800px;
	margin: 20px auto;
	font-family: 'Poiret One', sans-serif;
	color: #c00000;
	text-align: center;
	margin-bottom: 10px;
}

#header h1{
  /*
	text-indent: -1000em;*/
	margin-top: 0;
	font-size: 65px;
	font-weight: 300;
}

h1 a{
  text-decoration: none;
  color: inherit;
}

#menu {
  padding-top: 15px;
  text-align: center;
  background-color: #F4F4F4;
  height: 110px;
  box-shadow: 3px 3px 3px #ccc;
  -webkit-box-shadow: 3px 3px 3px #ccc;
  -moz-box-shadow: 3px 3px 3px #ccc;
}

#menu ul {
	margin: 0 auto;
	text-align: center;
	padding: 0;
	list-style: none;
	line-height: normal;
	height: 90px;
}

#menu li {
	display: inline-block;
}

#menu a{
  text-decoration: none;
  color: #aaa;
}

#menu a:hover{
  /*text-decoration: underline;*/
  color: #000;
}

svg.menu_icon {
  margin-left: 27px;
  margin-right: 27px;
  height: 70px;
  width: 70px;
  fill: #888;
}

svg.menu_icon:hover {
  fill: #111;
}

.current span{
  color: #444;
}

.current svg{
  fill: #444;
}

#menu li span {
  display: block;
  margin-top: 5px;
  font-family: 'Open Sans', sans-serif;
}

#viewbox {
  width: 576px;
  height: 384px;
  border: 7px solid #000000;
  margin: 40px auto;
}

.description h2{
  font-family: 'Poiret One', sans-serif;
  font-size: 40px;
  margin-left: 100px;
  margin-bottom: 20px;
}

.description p {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  margin-left: 100px;
}

.description div{
  float: left;
  position: relative;
  width: 80px;
  text-align: center;
}

.description iframe{
  margin-left: 100px;
  border: 7px solid #000000;
}

.description svg{
  height: 80px;
}

.description a {
  text-decoration: none;
  color: #0025A1;
}

.description a:hover {
  text-decoration: underline;
}
.description svg, .description g, .description path{
  fill: #999;
}